@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 88.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.box {
  padding-bottom: 50px;
}
.box_title {
  max-width: 800px;
  text-transform: uppercase;
  color: #305c94;
  font-weight: 900;
}
@supports (font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem )) {
  .box_title {
    font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem )) {
  .box_title {
    font-size: calc(1.5rem + 1 * (100vw - 20rem) / 70);
  }
}
@supports (padding-bottom: clamp( 2.375rem , 1.6607142857rem  +  3.5714285714vw , 4.875rem )) {
  .box_title {
    padding-bottom: clamp( 2.375rem , 1.6607142857rem  +  3.5714285714vw , 4.875rem );
  }
}
@supports not (padding-bottom: clamp( 2.375rem , 1.6607142857rem  +  3.5714285714vw , 4.875rem )) {
  .box_title {
    padding-bottom: calc(2.375rem + 2.5 * (100vw - 20rem) / 70);
  }
}
@supports (padding-top: clamp( 2.375rem , 1.6607142857rem  +  3.5714285714vw , 4.875rem )) {
  .box_title {
    padding-top: clamp( 2.375rem , 1.6607142857rem  +  3.5714285714vw , 4.875rem );
  }
}
@supports not (padding-top: clamp( 2.375rem , 1.6607142857rem  +  3.5714285714vw , 4.875rem )) {
  .box_title {
    padding-top: calc(2.375rem + 2.5 * (100vw - 20rem) / 70);
  }
}
.box_title_center {
  margin: 0 auto;
  max-width: 730px;
  text-align: center;
}
.box__container_bg {
  background: url(../img/01.png) 90% 0/contain no-repeat;
}
@media (max-width: 29.99875em) {
  .box__container_bg {
    background: none;
  }
}
.box__content_center {
  display: flex;
  justify-content: center;
}
.box__list {
  line-height: 1.2;
}
@supports (font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem )) {
  .box__list {
    font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem )) {
  .box__list {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 70);
  }
}
.box__list li {
  padding-left: 40px;
  position: relative;
}
.box__list li::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 18px;
  background: url(../img/05.png) no-repeat;
  top: 5px;
  left: 0;
}
@media (min-width: 29.99875em) {
  .box__img {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .box__img {
    display: block;
  }
}
.box__img img {
  width: 100%;
}

.sale {
  position: relative;
  z-index: 10;
}
.sale__title {
  text-transform: uppercase;
  color: #305c94;
  margin: 0 auto;
  padding: 50px 0px 10px 0px;
  text-align: center;
  font-weight: 900;
  position: relative;
  z-index: 10;
  position: relative;
  z-index: 4;
}
@supports (font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem )) {
  .sale__title {
    font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem )) {
  .sale__title {
    font-size: calc(1.5rem + 1 * (100vw - 20rem) / 70);
  }
}
.sale__text {
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
  text-align: center;
  position: relative;
}
@supports (font-size: clamp( 1rem , 0.6428571429rem  +  1.7857142857vw , 2.25rem )) {
  .sale__text {
    font-size: clamp( 1rem , 0.6428571429rem  +  1.7857142857vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.6428571429rem  +  1.7857142857vw , 2.25rem )) {
  .sale__text {
    font-size: calc(1rem + 1.25 * (100vw - 20rem) / 70);
  }
}
.sale__item {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
  position: relative;
  z-index: 99;
  background-color: #fff;
}
@media (max-width: 47.99875em) {
  .sale__item {
    flex-direction: column;
    padding: 20px 15px;
  }
}
.sale__item_down {
  position: relative;
  z-index: 1000;
}
.sale__content {
  flex: 0 1 45%;
}
@media (max-width: 47.99875em) {
  .sale__content {
    width: 100%;
  }
}
@supports (font-size: clamp( 1.125rem , 0.9464285714rem  +  0.8928571429vw , 1.75rem )) {
  .sale__description {
    font-size: clamp( 1.125rem , 0.9464285714rem  +  0.8928571429vw , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9464285714rem  +  0.8928571429vw , 1.75rem )) {
  .sale__description {
    font-size: calc(1.125rem + 0.625 * (100vw - 20rem) / 70);
  }
}
.sale__name {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
@supports (font-size: clamp( 1.5rem , 1.2857142857rem  +  1.0714285714vw , 2.25rem )) {
  .sale__name {
    font-size: clamp( 1.5rem , 1.2857142857rem  +  1.0714285714vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2857142857rem  +  1.0714285714vw , 2.25rem )) {
  .sale__name {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 70);
  }
}
@media (max-width: 47.99875em) {
  .sale__name {
    text-align: center;
  }
}
.sale__img {
  flex: 0 1 30%;
}
.sale__img img {
  width: 100%;
}
.sale__price {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 0 1 25%;
  min-width: 360px;
}
@media (max-width: 47.99875em) {
  .sale__price {
    width: 100%;
  }
}
@media (max-width: 365px) {
  .sale__price {
    min-width: 290px;
  }
}
@media (max-width: 61.99875em) {
  .sale__price {
    min-width: 270px;
  }
}
.sale__old-price {
  display: block;
  text-decoration: line-through;
  color: #a2b1c5;
  text-transform: uppercase;
  line-height: 2;
}
@supports (font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem )) {
  .sale__old-price {
    font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem )) {
  .sale__old-price {
    font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 70);
  }
}
.sale__new-price {
  display: block;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
}
@supports (font-size: clamp( 1.875rem , 1.3392857143rem  +  2.6785714286vw , 3.75rem )) {
  .sale__new-price {
    font-size: clamp( 1.875rem , 1.3392857143rem  +  2.6785714286vw , 3.75rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.3392857143rem  +  2.6785714286vw , 3.75rem )) {
  .sale__new-price {
    font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 70);
  }
}
.sale__label {
  display: block;
  line-height: 2;
}
@supports (font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem )) {
  .sale__label {
    font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem )) {
  .sale__label {
    font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 70);
  }
}
.sale__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #da5c3e;
  height: 63px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  text-align: center;
}
@supports (font-size: clamp( 1.125rem , 1.0178571429rem  +  0.5357142857vw , 1.5rem )) {
  .sale__btn {
    font-size: clamp( 1.125rem , 1.0178571429rem  +  0.5357142857vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 1.0178571429rem  +  0.5357142857vw , 1.5rem )) {
  .sale__btn {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 70);
  }
}
.sale__btn:hover {
  background-color: #bb2e0b;
}
.sale__container {
  position: relative;
  z-index: 1000;
}
.sale__container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/002.png) no-repeat;
  background-size: 35%;
  top: -5%;
  left: -15%;
  z-index: 0;
}
@media (max-width: 61.99875em) {
  .sale__container::before {
    display: none;
  }
}
.sale__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/001.png) no-repeat;
  background-size: 50%;
  bottom: -45%;
  right: -70%;
  z-index: 0;
}
@media (max-width: 61.99875em) {
  .sale__container::after {
    display: none;
  }
}

.attation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 15px;
  position: relative;
  z-index: 5;
}
.attation__container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/02.png) no-repeat;
  background-size: 25%;
  bottom: -40%;
  left: 80%;
  z-index: 0;
}
@media (max-width: 61.99875em) {
  .attation__container::before {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .attation__container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 47.99875em) {
  .attation__img {
    margin-top: 20px;
  }
}
.attation__img img {
  width: 100%;
}
.attation__text {
  text-align: center;
  text-transform: uppercase;
  max-width: 830px;
  color: #305c94;
  line-height: 1.5;
  font-weight: 900;
}
@supports (font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem )) {
  .attation__text {
    font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2142857143rem  +  1.4285714286vw , 2.5rem )) {
  .attation__text {
    font-size: calc(1.5rem + 1 * (100vw - 20rem) / 70);
  }
}
.attation__text span {
  color: #000;
}
